@{
    Layout = "~/Views/PsychOfSleep/SubLayout.cshtml";
}

@section inner_body {
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div id="featured_slide">
                    <ul id="featurednews">
                        <li>
                            @RenderSection("featured_1",false)
                        </li>
                        <li>
                            @RenderSection("featured_2",false)
                        </li>
                        <li>
                            @RenderSection("featured_3",false)
                        </li>
                        <li>
                            @RenderSection("featured_4",false)
                        </li>
                        <li>
                            @RenderSection("featured_5",false)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <ul class="latestnews">
                    <li>
                        @RenderSection("latest_1",false)
                    </li>
                    <li>
                        @RenderSection("latest_2",false)
                    </li>
                    <li class="last">
                        @RenderSection("latest_3",false)
                    </li>
                </ul>
            </div>
            <br class="clear" />
        </div>
    </div>

    <div class="wrapper">
        <div id="adblock">
            <div class="fl_left"><a href="#"><img src="/Content/PsychOfSleep/images/ss2.jpg" alt="" /></a></div>
            <div class="fl_right"><a href="#"><img src="/Content/PsychOfSleep/images/ss3.jpg" alt="" /></a></div>
            <br class="clear" />
        </div>
        <div id="hpage_cats">
            <div class="fl_left">
                @RenderSection("art_top_left", false)
            </div>
            <div class="fl_right">
                @RenderSection("art_top_right", false)
            </div>
            <br class="clear" />
            <div class="fl_left">   
                @RenderSection("art_bottom_left", false)
            </div>
            <div class="fl_right">
                @RenderSection("art_bottom_right", false)
            </div>
            <br class="clear" />
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div id="hpage_latest">
                    <h2>Further readings.</h2>
                    <ul>
                        <li>
                            @RenderSection("sec_art_1", false)
                        </li>
                        <li>
                            @RenderSection("sec_art_2", false)
                        </li>
                        <li class="last">
                            @RenderSection("sec_art_3",false)
                        </li>
                    </ul>
                    <br class="clear" />
                </div>
            </div>
            <div class="column">
                <div class="holder"><a href="#"><img src="/Content/PsychOfSleep/images/ss4.jpg" alt="" /></a></div>
                <div class="holder"><a href="#"><img src="/Content/PsychOfSleep/images/ss5.jpg" alt="" /></a></div>
            </div>
            <br class="clear" />
        </div>
    </div>

    <!--
    <div class="wrapper">
        <div id="footer">
            <div class="footbox">
                <h2>Heading for links</h2>
                <ul>
                    @RenderSection("footnote_1", false)
                </ul>
            </div>
            <div class="footbox">
                <h2>Heading for links</h2>
                <ul>
                    @RenderSection("footnote_2",false)
                </ul>
            </div>
            <div class="footbox">
                <h2>Heading for links</h2
                <ul>
                    @RenderSection("footnote_3",false)
                </ul>
            </div>
            <div class="footbox">
                <h2>Heading for links</h2>
                <ul>
                    @RenderSection("footnote_4",false)
                </ul>
            </div>
            <div class="footbox last">
                <h2>Heading for links</h2
                <ul>
                    @RenderSection("footnote_5",false)
                </ul>
            </div>
            <br class="clear" />
        </div>
    </div>
    -->
}
