@{
    Layout = "~/Views/PsychOfSleep/Layout.cshtml";
}

@section nav {
    <li>@Html.ActionLink("Sleep Home","Index","PsychOfSleep")</li>
    <li>@Html.ActionLink("Sleep Distraction Game","SleepGame","PsychOfSleep")</li>
    <li>@Html.ActionLink(
        "All articles","StyleDemo", "PsychOfSleep", new { articleId = "-1" }, 
        null 
    )</li>
    <li>
	<a href="https://www.facebook.com/pages/Psychofsleep_133/529968357131906#">
		Visit Our Facebook Page
	</a>
    </li>
}

@section page_title {
    @if(!IsSectionDefined("page_title_override")) { 
        <h1><a href="@Url.Action("Index", "PsychOfSleep", "PsychOfSleep")"><strong>P</strong>sych of <strong>S</strong>leep</a></h1>
        <p>Tips, tricks, and new research for the sleep nerd in all of us!</p>
    }
    @RenderSection("page_title_override", false)
}

@section inner_body {@RenderSection("inner_body", false)}
@section bread_crumbs {@RenderSection("bread_crumbs", false)}
@section _head {@RenderSection("_head", false)}
@section _body_tags {@RenderSection("_body_tags", false)}
